# Dependency directories
node_modules/

# Coverage directory
coverage

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# visual studio config folder
.vscode

# deployment temporary files
taskDefinitionWithImage.*